@model List<Faxai.Models.ProductModels.ProductViewModel>

<h2>Visos Prekės</h2>

@if (Model == null || Model.Count == 0)
{
    <p>Nėra prekių.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Pavadinimas</th>
                <th>Kaina</th>
                <th>Kiekis Sandėlyje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var preke in Model)
            {
                <tr>
                    <td>@preke.Pavadinimas</td>
                    <td>@preke.Kaina</td>
                    <td>@preke.Kiekis_Sandelyje</td>

                    <td>
                        <a href="@Url.Action("Details", "Products", new { id = preke.ID })">Detaliau</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}