@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sveiki atvykę!</h1>
    <p>Šioje vietoje bus rodomos visos prekės</p>
</div>

@for (int i = 0; i < 6; i++)
{
    <div class="row, review-item">
        <div class="col-3">
            <p class="review-text">Pavadinimas</p>
        </div>
        <div class="col-3">
            <p class="review-text">Aprašymas</p>
        </div>
        <div class="col-2">
            <p class="review-text">Kaina</p>
        </div>
        <div class="col-2">
            <p class="review-text">Pardavėjas</p>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" asp-area="" asp-controller="Products" asp-action="Product">...Daugiau</a>
        </div>
    </div>
}

