@{
    ViewData["Title"] = "Krepšelis";
}
<h1>@ViewData["Title"]</h1>

<p>Čia bus atvaizduotas krepšelis.</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Grižti atgal</a>
