@{
    ViewData["Title"] = "Prekė";
}
<h1>@ViewData["Title"]</h1>

<p>Čia bus atvaizduotas prekės kūrimo langas</p>

<a class="btn btn-dark" asp-area="" asp-controller="Products" asp-action="DeleteProduct">Šalinti prekę</a>
<a class="btn btn-dark" asp-area="" asp-controller="Products" asp-action="EditProduct">Redaguoti prekės duomenis</a>
<a class="btn btn-dark" asp-area="" asp-controller="Products" asp-action="FilterProducts">Filtruoti pagal prekės kategoriją</a>
<a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="HomePage">Atgal</a>