@{
    ViewData["Title"] = "Prekė";
}
<h1>@ViewData["Title"]</h1>

<p>Čia bus atvaizduotos išfiltruotos prekės</p>

<a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="HomePage">Atgal</a>
