@{
    ViewData["Title"] = "Prekė";
}
<h1>@ViewData["Title"]</h1>

<p>Šioje detali informacija apie konkrečią prekę</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Products">Atgal</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Reviews" asp-action="FullReview">Atsiliepimas apie prekę</a>
