@{
    ViewData["Title"] = "Ištrinti atsiliepimą";
}
<h1>@ViewData["Title"]</h1>

<p> Ar tikrai norite ištrinti šį atsiliepimą? </p>

<a class="btn btn-danger" asp-area="" asp-controller="Products" asp-action="Product">Ištrinti</a>
<a class="btn btn-secondary" asp-area="" asp-controller="Products" asp-action="Product">Atšaukti</a>
