@{
    ViewData["Title"] = "Atsiliepimas";
}
<h1>@ViewData["Title"]</h1>

<p>Šioje detali informacija apie konkretų atsiliepimą</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Product">Atgal į prekės aprašymą</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Reviews" asp-action="CreateReviewForm">Kurti</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Reviews" asp-action="EditReviewForm">Redaguoti</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Reviews" asp-action="DeleteReviewForm">Ištrinti</a>